<div class="entries">
  {% for post in site.posts %}
    {% if post.categories contains include.posttype %}
      {% if post.title == page.title %}
        <div class="entry-active">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% else %}
        {% if include.hidedates == false %}
          <div class="entry">
            <a href="{{ post.url }}">{{ post.title }}</a>
            <div class="entry-date">{{ post.date | date: "%Y-%m-%d" }}</div>
          </div>
        {% else %}
          <div class="entry-dateless">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
