<div class="entries">
  {% assign numPosts = 10 %}

  {% assign postIndex = 0 %}
  {% assign postIndexInCategory = 0 %}
  {% assign postCountInCategory = 0 %}
  {% for i in (0..site.posts.size) %}
    {% if site.posts[i].categories contains include.posttype %}
      {% if site.posts[i].title == page.title %}
        {% assign postIndex = i %}
        {% assign postIndexInCategory = postCountInCategory %}
      {% endif %}
      {% assign postCountInCategory = postCountInCategory|plus:1 %}
    {% endif %}
  {% endfor %}

  {% assign totalPostsInCategory = 0 %}
  {% for post in site.posts %}
    {% if post.categories contains include.posttype %}
      {% assign totalPostsInCategory = totalPostsInCategory|plus:1 %}
    {% endif %}
  {% endfor %}

  {% assign lastPostIndexInCategory = totalPostsInCategory|plus:-1 %}
  {% if postIndexInCategory == lastPostIndexInCategory %}
    {% assign comparator = numPosts %}
  {% else %}
    {% assign comparator = postIndexInCategory|modulo:numPosts %}
  {% endif %}

  {% assign x = postIndex %}
  {% assign y = 0 %}
  {% for i in (0..postIndex) %}
    {% if y < comparator %}
      {% assign x = x|plus:-1 %}
      {% if site.posts[x].categories contains include.posttype %}
        {% assign y = y|plus:1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% assign postIndex = x %}

  {% if postIndex < 0 %}
    {% assign postIndex = 0 %}
  {% endif %}

  {% if postIndexInCategory >= numPosts and lastPostIndexInCategory > numPosts %}
    {% assign postIndexPrev = postIndex %}
    {% assign y = 0 %}
    {% for i in (0..postIndex) %}
      {% if y < numPosts %}
        {% assign postIndexPrev = postIndexPrev|plus:-1 %}
        {% if site.posts[postIndexPrev].categories contains include.posttype %}
          {% assign y = y|plus:1 %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <div class="entry-dateless">
      <a href="{{ site.posts[postIndexPrev].url }}">&#8942;</a>
    </div>
  {% endif %}

  {% assign postCountInCategory = 0 %}
  {% for i in (postIndex..site.posts.size) %}
    {% if postCountInCategory <= numPosts %}
      {% if site.posts[i].categories contains include.posttype %}
        {% if site.posts[i].title == page.title %}
          <div class="entry-active">
            <a href="{{ site.posts[i].url }}">{{ site.posts[i].title }}</a>
          </div>
        {% else %}
          {% if include.hidedates == false %}
            <div class="entry">
              <a href="{{ site.posts[i].url }}">{{ site.posts[i].title }}</a>
              <div class="entry-date">{{ site.posts[i].date | date: "%Y-%m-%d" }}</div>
            </div>
          {% else %}
            <div class="entry-dateless">
              <a href="{{ site.posts[i].url }}">{{ site.posts[i].title }}</a>
            </div>
          {% endif %}
        {% endif %}
        {% assign postCountInCategory = postCountInCategory|plus:1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if postIndexInCategory < numPosts|times:-1|plus:lastPostIndexInCategory and lastPostIndexInCategory > numPosts %}
    {% assign postIndexNext = postIndex %}
    {% assign y = 0 %}
    {% for i in (postIndex..site.posts.size) %}
      {% if y < numPosts %}
        {% assign postIndexNext = postIndexNext|plus:1 %}
        {% if site.posts[i].categories contains include.posttype %}
          {% assign y = y|plus:1 %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <div class="entry-dateless">
      <a href="{{ site.posts[postIndexNext].url }}">&#8942;</a>
    </div>
  {% endif %}
</div>
