<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include sidebar.html highlighted=include.highlighted %}
    <div id="post">
      {{ content }}
    </div>
    <div id="postlist-right">
      <div id="postlist-right-cell">
        {% include 3c-entries.html posttype=include.posttype hidedates=true %}
      </div>
    </div>
  </body>
</html>
