<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.owner }} </title>
  <link href='http://brick.a.ssl.fastly.net/Source+Sans+Pro:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,900,900i/Source+Code+Pro:200,300,400,500,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/public/css/styles.css" />
  <link rel="stylesheet" href="/public/css/pygments.css" />
</head>
