<div id="nav">
  {% for e in site.nav %}
  	{% if e[0] == include.highlighted %}
  		<a href={{ e[1] }} class="a-active">{{ e[0] }}</a>
  	{% else %}
  		<a href={{ e[1] }}>{{ e[0] }}</a>
  	{% endif %}
  {% endfor %}
</div>
