---
layout: 2c
title: About
highlighted: About
---
<div id="title">About</div>
<div id="photo"></div>
<div id="two-column-content">
  <p>
    Hi, I'm Stephen Youts, an open-source hacker and full-stack web developer. I'm currently working freelance, and am always seeking new clients. If you're looking to hire me, I'm most easily reached via <a href="mailto:stephen@bitsofirreverence.com">email</a> or <a href="https://www.odesk.com/users/~01f040a5b28dcd4ecc">oDesk</a>.
  </p>

  <p>
    Feel free to take a look at my <a href="/portfolio/">portfolio</a>.
  </p>

  <p>
    Prior to freelancing, I co-founded a startup, where I developed a game engine for the browser using WebGL and JavaScript. It didn't really work out. Now I'm periodically cleaning up and open-sourcing parts of the engine.
  </p>

  <p>
    My academic background is in computer science and philosophy, which I studied at UCLA. While I was a student I did a few web development internships, was a core developer on a game mod with a 150k-line codebase, and TA'd a course in logic. In high school I was a level designer on an industry-acclaimed Doom 3 mod.
  </p>
</div>
