---
layout: 2c
title: Portfolio
highlighted: Portfolio
---
<div id="title">Portfolio</div>
<div id="two-column-content">
	<h1><a href="http://github.com/syouts/jekyll-theme-void">Void</a></h1>
	<p>A dark, minimalist theme for Jekyll. Used on this site.</p>
	<h1><a href="http://github.com/syouts/gl-pyramids">GL-Pyramids</a></h1>
	<p>A WebGL demo intended to emulate 80s-style glowing vector graphics.</p>
</div>